# Add plugins here
boto3

#sentry plugins
sentry-plugins
https://github.com/ktlg/sentry-auth-github/archive/v1.0.1.zip

# Sentry fork for oidc based auth
# https://github.com/siemens/sentry-auth-oidc
sentry-auth-oidc
